{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% block content %}
	{% if latest_question_list %}
    	<ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    	</ul>
    	<div class="gif">
    		<p>Django</p><br>
    		<p>Testing</p><br>
    		<p>Site</p><br>
    	</div>
	{% else %}
	    <p>No polls are available.</p>
	{% endif %}
{% endblock %}



{% block javascript %}
	<script src="{% static 'polls/index.js' %}"></script>
{% endblock %}
